body {
  background-color: #e5e7e9;
}

marquee {
  background-color: none;
  color: yellow;
  padding: 10px;
}

.nav {
  background-color: #f7dc6f;
  width: 100%;
  height: 33px;
}
.nav a {
  width: 90px;
  height: 33px;
  color: black;
  text-align: center;
  font-size: 17px;
  background-color: #f7dc6f;

  display: inline-block;
  text-decoration: none;
}

.nav a:hover {
  background-color: #ddd;
  color: red;
}

.nav ul li a:hover {
  background-color: #ddd;
  color: red;
}

.nav a.active {
  width: 5%;
  height: 33px;
  background-color: lightblue;
  color: black;
}

.topmarquee {
  background-color: #e74c3c;
}

.nav ul {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline-block;
}

.nav ul li:hover ul {
  display: block;
}

.nav ul li ul {
  position: absolute;
  display: none;
}
.nav ul li ul li {
  display: block;
}
.nav ul li ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 5px;
  display: inline-block;
  width: 80px;
  height: 30px;
  display: block !important;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34495e;
  height: 10%;
  width: 100%;
  position: relative;
}

.contact {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact button {
  margin: auto;
  display: block;
  padding: 10px;
  width: 25%;
  background-color: #e74c3c;
}
.contact button:hover {
  background-color: #ddd;
}

footer a {
  text-decoration: none;
  color: white;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34495e;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
